*{
  margin: 0;
}
body{
  background-color: rgb(36, 34, 34);
}
img{
  height: 100px;
  width: 100px;
}
.app-h2{
  color: white;
  padding-bottom: 10px;
}
.App {
  margin-top: 10px;
  text-align: center;
  font-family: 'Balsamiq Sans', cursive;
}
.app-form{
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: lightgray;
  width: 97%;
  border-radius: 25px;
}
.app-formControl{
  display: flex !important;
  flex-direction: row !important;
}
.app-iconInput{
  flex: 1;
}
.app-iconButton{
  flex: 0 ;
}

@media only screen and (max-width: 600px) {
  img {
    height: 50px;
    width: 50px;
  }
  h2{
    font-size: 1.2rem !important;
  }
}